<script type='text/javascript'>
  $(function () {
    // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
    Dashing.gridsterLayout('[{"col":1,"row":1},{"col":6,"row":1},{"col":6,"row":3},{"col":6,"row":5},{"col":6,"row":7},{"col":6,"row":9},{"col":6,"row":11}]')
    Dashing.widget_base_dimensions = [230, 80]
    Dashing.numColumns = 6
  });
</script>

<% content_for :title do %>Brook Cafe Order Pickup<% end %>
<div class="gridster">
    <ul>
        <li data-row="2" data-col="1" data-sizex="5" data-sizey="8">
            <div data-id="orderItems" data-view="Table"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            <div data-id="incomingItems0" data-view="Text"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            <div data-id="incomingItems1" data-view="Text"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            <div data-id="incomingItems2" data-view="Text"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            <div data-id="incomingItems3" data-view="Text"></div>
        </li>

    </ul>
</div>