// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;
$error-color:       #CD5555;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);

.widget-table {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  .label {
    text-align: left;
    color: $label-color;
  }

  .value {
    text-align: right;
    font-weight: 600;
    color: $value-color;
  }

  .error {
    font-weight: 800;
    font-size: 30px;
    color: $error-color;
  }
}