<h1 class="title" data-bind="title"></h1>

<table>
    <tr data-foreach-item="items">
        <td class="label" data-bind="item.label"></td>
        <td data-bind="item.size"></td>
        <td data-bind="item.paymentMethod"></td>
        <td data-bind="item.pickup"></td>
        <td class="value" data-bind="item.value"></td>
    </tr>
</table>

<span class="error" data-bind="items[0].error"></span>
